openapi: 3.2.0
info:
  title: Clawvisor Gateway Tokens API
  version: 0.2.0
  description: The Clawvisor gateway API — the authorization layer AI agents call to act on external services (Gmail, Calendar, Drive, Contacts, GitHub, Slack, Notion, Linear, Stripe, Twilio, iMessage) without ever holding the underlying credentials.
  x-generated-by: api-evangelist-enrichment-pipeline
  x-source: https://github.com/clawvisor/clawvisor/blob/main/README.md
  license:
    name: MIT
    url: https://github.com/clawvisor/clawvisor/blob/main/LICENSE
  contact:
    name: Clawvisor
    url: https://clawvisor.com
servers:
- url: https://app.clawvisor.com
  description: Hosted Clawvisor (managed service)
- url: http://localhost:25297
  description: Self-hosted local daemon (default port)
security:
- agentToken: []
tags:
- name: Tokens
  description: Mint and revoke scoped agent tokens (admin-gated).
paths:
  /api/tokens:
    post:
      operationId: createToken
      tags:
      - Tokens
      summary: Mint a scoped agent token
      description: Mint a long-lived scoped agent token (admin-gated, dashboard JWT).
      responses:
        '200':
          description: Token created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
    get:
      operationId: listTokens
      tags:
      - Tokens
      summary: List agent tokens
      responses:
        '200':
          description: A list of tokens (secrets not returned).
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Token'
  /api/tokens/{id}:
    delete:
      operationId: revokeToken
      tags:
      - Tokens
      summary: Revoke an agent token
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Token revoked.
components:
  schemas:
    Token:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        token:
          type: string
          description: The secret token value (returned only at creation).
        created_at:
          type: string
          format: date-time
  securitySchemes:
    agentToken:
      type: http
      scheme: bearer
      description: Agent token (or dashboard JWT for admin-gated endpoints), sent as Authorization Bearer header.
    agentTokenHeader:
      type: apiKey
      in: header
      name: X-Clawvisor-Agent-Token
      description: Agent token for the skill catalog endpoint.
