openapi: 3.1.0
info:
  title: Clawvisor Gateway API
  version: '0.2.0'
  description: >-
    The Clawvisor gateway API — the authorization layer AI agents call to act on
    external services (Gmail, Calendar, Drive, Contacts, GitHub, Slack, Notion,
    Linear, Stripe, Twilio, iMessage) without ever holding the underlying
    credentials. Agents declare a **task** describing their purpose and the
    service/action pairs they need; the user approves the scope once; and every
    subsequent gateway request is checked against restrictions, task scope,
    intent verification, and (optionally) per-request human approval before
    Clawvisor injects credentials, executes through an adapter, and returns a
    clean semantic result. This description is GENERATED by the API Evangelist
    enrichment pipeline from Clawvisor's public README and agent protocol
    (skills/clawvisor/SKILL.md.tmpl); Clawvisor does not publish an OpenAPI
    document. Every path, method, field, and status below is documented in
    github.com/clawvisor/clawvisor.
  x-generated-by: api-evangelist-enrichment-pipeline
  x-source: https://github.com/clawvisor/clawvisor/blob/main/README.md
  license:
    name: MIT
    url: https://github.com/clawvisor/clawvisor/blob/main/LICENSE
  contact:
    name: Clawvisor
    url: https://clawvisor.com
servers:
  - url: https://app.clawvisor.com
    description: Hosted Clawvisor (managed service)
  - url: http://localhost:25297
    description: Self-hosted local daemon (default port)
tags:
  - name: Tasks
    description: Declare, approve, expand, and complete task scopes.
  - name: Gateway
    description: Execute authorized actions on downstream services through the gateway.
  - name: Catalog
    description: Discover the services and actions available to the agent.
  - name: Tokens
    description: Mint and revoke scoped agent tokens (admin-gated).
  - name: Auth
    description: Local magic-link session exchange.
security:
  - agentToken: []
paths:
  /api/skill/catalog:
    get:
      operationId: fetchCatalog
      tags: [Catalog]
      summary: Fetch the agent service catalog
      description: >-
        Returns the services available to the agent, their supported actions,
        which actions are restricted (blocked), and services the agent can ask
        the user to activate. Authenticated with the agent token header.
      security:
        - agentTokenHeader: []
      responses:
        '200':
          description: Personalized service catalog.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Catalog' }
        '401':
          description: Missing or invalid agent token.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /api/tasks:
    post:
      operationId: createTask
      tags: [Tasks]
      summary: Declare a task scope
      description: >-
        Declare a purpose and the authorized service/action pairs the agent
        needs. The task starts as `pending_approval`; the user approves the
        scope via dashboard, Telegram, or a mobile push. Use `?wait=true` to
        block until the user approves or denies in a single round-trip.
      parameters:
        - name: wait
          in: query
          required: false
          description: Long-poll until the task is approved or denied.
          schema: { type: boolean }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TaskCreate' }
      responses:
        '200':
          description: Task created (and resolved when wait=true).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Task' }
        '401':
          description: Missing or invalid agent token.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
    get:
      operationId: listTasks
      tags: [Tasks]
      summary: List tasks
      description: List the agent's active, standing, pending, and completed tasks.
      responses:
        '200':
          description: A list of tasks.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Task' }
  /api/tasks/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    get:
      operationId: getTask
      tags: [Tasks]
      summary: Get a task (supports long-polling)
      description: >-
        Retrieve a task's current state. Use `?wait=true` to long-poll until the
        status changes to `active` or `denied`.
      parameters:
        - name: wait
          in: query
          required: false
          schema: { type: boolean }
      responses:
        '200':
          description: The task.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Task' }
        '404':
          description: Task not found.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /api/tasks/{id}/expand:
    post:
      operationId: expandTask
      tags: [Tasks]
      summary: Request a scope expansion
      description: >-
        Add an action not in the original task scope. The user is notified and
        can approve or deny; on approval the action is added and the session
        task TTL is reset. Standing tasks cannot be expanded.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AuthorizedAction' }
      responses:
        '200':
          description: Expansion requested / resolved.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Task' }
  /api/tasks/{id}/complete:
    post:
      operationId: completeTask
      tags: [Tasks]
      summary: Mark a task complete
      description: Signal the task is done; chain-context facts are cleaned up.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Task completed.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Task' }
  /api/gateway/request:
    post:
      operationId: gatewayRequest
      tags: [Gateway]
      summary: Execute an authorized action
      description: >-
        Execute a single action on a downstream service under an approved task.
        Clawvisor checks restrictions, validates the action against task scope
        and intent verification, injects credentials, executes through the
        service adapter, and returns a semantic result. Requests without a
        `task_id` fall back to per-request approval. Use `?wait=true` to block
        until a pending request resolves.
      parameters:
        - name: wait
          in: query
          required: false
          schema: { type: boolean }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/GatewayRequest' }
      responses:
        '200':
          description: Gateway result (see status field).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/GatewayResponse' }
        '401':
          description: Missing or invalid agent token.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /api/gateway/request/{request_id}/execute:
    post:
      operationId: executeGatewayRequest
      tags: [Gateway]
      summary: Execute a previously approved pending request
      description: >-
        Execute a gateway request that was left `pending` for human approval,
        once the user has approved it. Idempotent on `request_id`.
      parameters:
        - name: request_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Gateway result.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/GatewayResponse' }
  /api/tokens:
    post:
      operationId: createToken
      tags: [Tokens]
      summary: Mint a scoped agent token
      description: Mint a long-lived scoped agent token (admin-gated, dashboard JWT).
      responses:
        '200':
          description: Token created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Token' }
    get:
      operationId: listTokens
      tags: [Tokens]
      summary: List agent tokens
      responses:
        '200':
          description: A list of tokens (secrets not returned).
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Token' }
  /api/tokens/{id}:
    delete:
      operationId: revokeToken
      tags: [Tokens]
      summary: Revoke an agent token
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: Token revoked.
  /api/auth/magic:
    post:
      operationId: authMagic
      tags: [Auth]
      summary: Exchange a magic token for a refresh token
      description: >-
        Local-mode session exchange — the TUI reads the one-time magic token
        written by the server and exchanges it for a refresh token.
      responses:
        '200':
          description: Refresh token issued.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Token' }
components:
  securitySchemes:
    agentToken:
      type: http
      scheme: bearer
      description: 'Agent token (or dashboard JWT for admin-gated endpoints), sent as Authorization Bearer header.'
    agentTokenHeader:
      type: apiKey
      in: header
      name: X-Clawvisor-Agent-Token
      description: Agent token for the skill catalog endpoint.
  schemas:
    AuthorizedAction:
      type: object
      required: [service, action]
      properties:
        service:
          type: string
          description: 'Service (optionally with account alias), e.g. `google.gmail:user@example.com`.'
        action:
          type: string
          description: 'Action on the service, e.g. `list_messages`, `send_message`.'
        auto_execute:
          type: boolean
          description: When true, in-scope requests run immediately; false requires per-request approval.
        expected_use:
          type: string
          description: Per-action description checked against actual request params by intent verification.
        verification:
          type: string
          enum: [strict, lenient, off]
          description: Per-scope intent verification mode.
    PlannedCall:
      type: object
      required: [service, action, params]
      properties:
        service: { type: string }
        action: { type: string }
        params:
          type: object
          additionalProperties: true
          description: Known params, or `$chain` for values that come from a prior call's results.
        reason: { type: string }
    TaskCreate:
      type: object
      required: [purpose, authorized_actions]
      properties:
        purpose:
          type: string
          description: Capability statement shown at approval and checked by intent verification.
        authorized_actions:
          type: array
          items: { $ref: '#/components/schemas/AuthorizedAction' }
        planned_calls:
          type: array
          items: { $ref: '#/components/schemas/PlannedCall' }
        lifetime:
          type: string
          enum: [session, standing, sliding]
          description: session (default, TTL), standing (until revoked), or sliding (auto-extends on use).
        expires_in_seconds:
          type: integer
          description: Task TTL for session tasks.
        callback_url:
          type: string
          format: uri
          description: URL Clawvisor POSTs a task callback to on approval/denial/expansion/expiry.
    Task:
      type: object
      properties:
        id: { type: string }
        purpose: { type: string }
        status:
          type: string
          enum: [pending_approval, active, pending_scope_expansion, completed, denied, expired, revoked]
        lifetime:
          type: string
          enum: [session, standing, sliding]
        authorized_actions:
          type: array
          items: { $ref: '#/components/schemas/AuthorizedAction' }
        expires_at: { type: string, format: date-time }
    GatewayRequest:
      type: object
      required: [service, action]
      properties:
        service: { type: string }
        action: { type: string }
        params:
          type: object
          additionalProperties: true
        reason:
          type: string
          description: Why the agent is making this request (checked by intent verification).
        request_id:
          type: string
          description: Client-supplied correlation id; used for callbacks and the /execute follow-up.
        task_id:
          type: string
          description: The approved task this request runs under. Omit for per-request approval.
        session_id:
          type: string
          description: Required on standing tasks; scopes chain-context verification to one invocation.
        context:
          type: object
          properties:
            source: { type: string }
            callback_url: { type: string, format: uri }
    GatewayResponse:
      type: object
      properties:
        status:
          type: string
          enum: [executed, pending, blocked, restricted, pending_task_approval, pending_scope_expansion, task_expired, error]
        result:
          type: object
          properties:
            summary: { type: string }
            data: {}
        audit_id: { type: string }
        error: { type: string }
        code:
          type: string
          description: 'Machine error code, e.g. SERVICE_NOT_CONFIGURED, MISSING_SESSION_ID.'
    Catalog:
      type: object
      properties:
        services:
          type: array
          items:
            type: object
            properties:
              service: { type: string }
              actions:
                type: array
                items: { type: string }
              restricted_actions:
                type: array
                items: { type: string }
        activatable:
          type: array
          items: { type: string }
    Token:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        token:
          type: string
          description: The secret token value (returned only at creation).
        created_at: { type: string, format: date-time }
    Error:
      type: object
      properties:
        status: { type: string }
        error: { type: string }
        code: { type: string }
